@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  --color-bg-clean: #F9F8F6;
  --color-surface-clean: #FFFFFF;
  --color-accent-clean: #5E6D5B;
  --color-accent-light-clean: #E9EDE8;
  --color-text-main: #2D2D2D;
  --color-text-muted: #8A8A8A;
  --color-border-clean: #EEEEEE;
}

@layer base {
  body {
    @apply bg-bg-clean text-text-main font-sans;
  }
}
